<div class="form">
  <label for="nombre">Nombre Componente: </label>
  <input type="text" id="nombre" ng-model="componente.nombre">

  <label for="tiempoVida">Tiempo Vida Max: </label>
  <input type="text" id="tiempoVida" ng-model="componente.tiempoVida">

  <label for="descripcion">Descripción Componente: </label>
  <textarea name="descript" id="descripcion" cols="30" rows="10" ng-model="componente.descripcion"></textarea>

  <button type="button" ng-click="controlador.validarDatos( componente ) && controlador.enviarDatos( componente )">
    Añadir Componente
  </button>
</div>