<div class="row">
  <h2 class="page-header">Modificación de Equipos</h2>

  <div class="col-md-6">
    <h3 class="page-header">Equipos Disponibles</h3>

    <div ng-repeat="equipo in controlador.listaEquipos" class="well well-sm">
      <h4>{{equipo.nombre}}</h4>
      <p><strong>ID Equipo: </strong>{{equipo.id}}</p>
      <p><strong>Ubicación Equipo: </strong>{{equipo.ubicacion}}</p>
      <p><strong>Descripción: </strong>{{equipo.descripcion}}</p>
      <button class="btn btn-default" type="button" ng-click="controlador.seleccionarEquipo( equipo )">Modificar Equipo</button>

    </div>
  </div>

  <div class="col-md-6">
    <div class="form-horizontal">
      <h3 class="page-header">Formulario de modificación</h3>
      <p><strong>ID Equipo:  </strong>{{controlador.equipoSeleccionado.id}}</p>

      <div class="form-group">
        <label for="nombre" class="control-label">Nombre Equipo</label>
        <input class="form-control" type="text" id="nombre" ng-model="controlador.equipoSeleccionado.nombre">
      </div>

      <div class="form-group">
        <label for="ubicacion" class="control-label">Ubicación Equipo</label>
        <input class="form-control" type="text" id="ubicacion" ng-model="controlador.equipoSeleccionado.ubicacion">
      </div>

      <div class="form-group">
        <label for="descripcion" class="control-label">Descripción: </label>
        <textarea class="form-control" name="descrip" id="descripcion" cols="30" rows="10" ng-model="controlador.equipoSeleccionado.descripcion"></textarea>
      </div>

      <button ng-click="controlador.mandarSolicitudCambio( controlador.equipoSeleccionado )" class="btn btn-primary">Realizar Cambios</button>
    </div>
  </div>

</div>
