<div ng-repeat="componente in controlador.componentes">
  <ul>
    <li>ID: {{componente.id}}</li>
    <li>Nombre: {{componente.nombre}}</li>
    <li>Tiempo: {{componente.tiempo_vida_max}}</li>
    <li>Descripcion: {{componente.descripcion}}</li>
  </ul>

  <button type="button" ng-click='controlador.agregarComponente( componente.id )'>Añadir a lista componentes</button>

</div>

<div>
  <h3>Componentes Seleccionados</h3>
  <div ng-repeat="componente_selec in controlador.listaComponentes track by $index">
    <p>{{componente_selec}} <p ng-click='controlador.eliminarComponente( componente_selec )'>X</p></p>
  </div>
</div>